@import '~antd/dist/antd.css';

.App {
  height: 100vh;
}

.Body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.SearchBar {
  padding: 10px;
}

/* Collapsed Sidebar Styles */
.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

.ant-layout-sider-collapsed .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
  display: none;
}

.ant-layout-sider-collapsed .SearchBar {
  visibility: hidden;
}
